@charset "UTF-8";
/* CSS Document */
/*Author: Malcolm Córdova @malcolmcordova mercadocreativo@gmail.com www.malcolmcordova.com*/

/*Estilos generales*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', Helvetica;
}

body, html{
    overflow-x: hidden;
    
}

body{
    background-color: #f2f2f2;
    
}

.clearfix{
    clear: both;
    float: none;
}

.container{
    margin: 0 auto;
    width: 85%
}

/*Header*/

#main-header{
    background: white;
    height: 100px;
    line-height: 85px;
}

#logo{
    width: 63%;
    float: left;
    
}

#logo h1{
    font-weight: bold;
    font-size: 24px;
    color:deepskyblue;
}

#menu{
    width: 380px;
    float: left;
}

#menu ul li{
    list-style: none;
    float: left;
    margin-left: 19px;
    margin-right: 19px;
}

#menu ul li a{
    color: black;
    
}
#menu ul li a:hover{
    color:deepskyblue    
}

/* slider*/

#slider{
    height: 300px;
    background-color: deepskyblue;
}

#slider h2{
    font-size: 40px;
    text-align: center;
    color: white;
    line-height: 290px;
    text-shadow: 0px 0px 6px #000;
}

/*servicios*/

.subheader{
    font-size: 34px;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid deepskyblue; 
}

.service, .video{
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service img{
    height: 48px;
    margin-bottom: 20px;
}

.service h3{
    margin-bottom: 10px;
}

.service p, .video p{
    color: #444;
    display: block;
    width: 80%;
    margin: 0 auto;
}

/* videos*/

.video iframe{
    width: 80%;
    height: 170px;
    margin-bottom: 10px;
}


/*footer*/
footer{
    background-color: #333;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color: white;
}

footer .subheader{
    color: white;
}

#network{
    margin: 0 auto;
    width: 216px;
    display: block;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

#network li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 300ms;
}

#network li:hover{
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}


@media (max-width:1225px){
    .container{
        width: 95%;
    }
}

@media (max-width:1085px){
    
    #main-header{
        height: 70px;
        line-height: 65px;
    }
    
    #logo{
        width: 60%;
    }
    
    
}

@media (max-width:999px){
    #logo{
        width: 270px;
        float: none;
        margin: 0 auto;
    }
    
    #menu{
        float: none;
        margin: 0 auto;
    }
    
    #slider{
        overflow: hidden;
        height: 150px;
    }
    
    #slider h2{
        font-size: 30px;
        line-height: 30px;
        margin-top: 50px;
    }
    
}

@media (max-width:780px){
    .service, .video{
        width: 70%;
        float: none;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .service p, .video p{
       margin-top: 10px;
    }
    
    .service img{
        margin-bottom: 10px;
    }
    .video iframe{
        width: 80%;
        height: 230px;
    }
    
}


@media (max-width:460px){
    #slider h2{
        font-size: 20px;
    }
}

@media (max-width:377px){
    #menu{
        width: 100%;
        text-align: center;
    }
    
    #menu ul li{
        margin-left: 4%;
        margin-right: 4%;
    }
    #slider h2{
        font-size: 20px;
    }
    
    .service, .video{
        width: 90%;
    }
    
    .video iframe{
        width: 80%;
        height: 140px;
    }
    
}


@media (max-width:345px){
    
    #logo{
        width: 100%;
    }
    
    #main-header{
        height: auto;
    }
    
    #menu ul li{
        float: none
    }
    
}


